[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "directAgeStd"]
	path = directAgeStd
	url = https://github.com/joeblackford/directagestd
